.DS_Store
.eslintrc.js
.eslintignore
node_modules
/dist/
/src/config/baseUrl.js
svn

/tests/e2e/videos/
/tests/e2e/screenshots/

# local env files
.env.local
.env.*.local
.browserslistrc
.postcssrc

package-lock

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.svn
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
*.lock
